package %{PACKAGE};

import stream.plugin.DataStreamOperator;
import com.rapidminer.operator.OperatorDescription;

/**
 * AUTO GENERATED wrapper reader.
 */
public class %{CLASSNAME} extends stream.plugin.sources.DataStreamReader {

    public %{CLASSNAME}( OperatorDescription desc ){
        super( desc, %{DATA_STREAM_CLASS}.class );
    }
}
